* {
    font-family: 'Inter UI', sans-serif; 
    color: black;
    margin: 0; 
    padding: 0;
}

body, html {
    width: 100%;
    line-height: 1.6;
    background-color: #f4f4f4;
    font-size:24px;
}

.container {
    max-width: 1600px; 
    margin: auto;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: underline; 
}

a:hover {
    background-color: lightgreen;
}

h1 {
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 2.5rem;
}

#me {
    border-radius: 4%; 
    margin-top: 5%;
    width: 100%;
}
